<div class="animated fadeIn" *ngIf="displayPage === false">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header group-title-221">
          <strong>Store Overview</strong>
          <p class="pull-right"></p>
        </div>
        <div class="card-body">
          <div class="NoData">
            <p class="text-center">No stores..!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="displayPage === true">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header group-title-300">
          <!-- <i
            class="fa fa-info-circle icon-size"
            style="cursor: pointer;"
            *ngIf="selectedStore"
          ></i> -->
          <strong *ngIf="selectedStore">{{ selectedStore }}</strong>
          <div class="pull-right">
            <form [formGroup]="form">
              <p-dropdown
                [options]="store"
                placeholder="Select store"
                optionLabel="store_name"
                formControlName="store_name"
                [(ngModel)]="selectedStorenmae"
                (onChange)="getCode($event)"
                id="store_name"
              ></p-dropdown>
            </form>
          </div>
        </div>
        <div class="card-header group-title-221">
          <strong>Store Overview</strong>
          <p class="pull-right"></p>
        </div>

        <div class="card-body">
          <div class="NoData" *ngIf="this.data.length == 0">
            <p class="text-center">No Data Available..!</p>
          </div>
          <div class="col-md-12 ml-4" *ngIf="this.data.length > 0">
            <div class="row">
              <div
                *ngFor="let item of data"
                class="card mb-3 mr-3"
                [ngClass]="{
                  'text-white bg-success':
                    item.current_temperature >= item.storage_range_min &&
                    item.current_temperature <= item.storage_range_max,
                  'text-white bg-secondary': item.current_temperature === 0,
                  'text-white bg-primary':
                    item.current_temperature <= item.storage_range_min,
                  'text-white bg-danger':
                    item.current_temperature > item.storage_range_max
                }"
                style="max-width: 14rem; cursor: pointer;"
                [routerLink]="['/store/lion_square/fridge_detail']"
                [queryParams]="{ store_id: item.store, fridge_id: item.id }"
              >
                <div
                  class="card-header"
                  [ngStyle]="
                    item.current_temperature === 0
                      ? { 'background-color': '#808080' }
                      : { 'background-color': '' }
                  "
                >
                  {{ item.fridge_name }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    Current Temperature : {{ item.current_temperature }}°C
                  </h5>
                  <p class="card-text">
                    {{ item.fridge_content }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="container bootstrap snippet"> -->
          <div class="row mr-5 ml-4" *ngIf="this.data.length > 0">
            <div class="">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item" *ngIf="previous != null">
                    <a
                      class="page-link"
                      style="color: blue; cursor: pointer;"
                      (click)="previousPage(previous, id)"
                      >Previous</a
                    >
                  </li>
                  <!-- <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li> -->
                  <li class="page-item" *ngIf="next != null">
                    <a
                      class="page-link"
                      style="color: blue; cursor: pointer;"
                      (click)="nextPage(next, id)"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="row ml-4">
            <div>
              <button
                *ngIf="permission == 'Admin'"
                type="button"
                pButton
                icon="pi pi-plus"
                (click)="onclick()"
                label="Add New Fridge"
              ></button>
            </div>
            <div class="ml-auto mr-5">
              <button
                *ngIf="permission == 'Admin'"
                type="button"
                pButton
                icon="pi pi-undo"
                (click)="restore()"
                label="Restore Deleted Fridge"
              ></button>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
