.NoData {
  background: #eee;
  padding: 50px;
  margin-bottom: 2rem;
}

.NoData p {
  margin: 0;
}
.snippetBox {
  border: 7px double #ddd;
  padding: 10px;
  border-radius: 4px;
}

.bg-warning {
  border-color: #ff6207fa;
  background-color: #ff8c1a !important;
}

.card.bg-warning .card-header {
  background-color: #ff8000d7;
  border-color: #faa958;
}
