<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="form">
                  <h1>Forgot Password</h1>
                  <!-- <p class="text-muted">Sign In to your account</p> -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="icon-user"></i
                      ></span>
                    </div>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter your recovery email.."
                      [(ngModel)]="formData.email"
                      name="email"
                      formControlName="email"
                      email
                    />
                    <div
                      class="error mt-2"
                      *ngIf="!form.controls['email'].valid && isFormSubmitted"
                    >
                      <span *ngIf="form.controls['email'].errors.required"
                        >Email is required.</span
                      >
                      <span *ngIf="form.controls['email'].errors.email"
                        >Email must be in valid format.</span
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button
                        type="button"
                        class="btn btn-primary px-4"
                        (click)="sendMail(form.valid)"
                      >
                        Send password reset email
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
