<div class="app-body custom-app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-header">
                <strong>Reset Password</strong>
              </div>
              <div class="card-body">
                <form [formGroup]="form" class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="new_password1"
                      >New Password</label
                    >
                    <div class="col-md-9">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Enter New Password"
                        [(ngModel)]="formData.new_password1"
                        name="new_password1"
                        formControlName="new_password1"
                      />

                      <div
                        class="cust_err_msg"
                        *ngIf="
                          !form.controls['new_password1'].valid &&
                          isFormSubmitted
                        "
                      >
                        <span
                          class="text-danger"
                          *ngIf="
                            form.controls['new_password1'].errors['required'] ||
                            form.controls['new_password1'].errors['whitespace']
                          "
                          >This field is required.</span
                        >
                        <span
                          class="text-danger"
                          *ngIf="
                            form.controls['new_password1'].errors[
                              'minlength'
                            ] ||
                            !form.controls['new_password1'].errors['whitespace']
                          "
                        >
                          Password should be 8 character long.</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="new_password2"
                      >Confirm New Password</label
                    >
                    <div class="col-md-9">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Repeat New Password"
                        [(ngModel)]="formData.new_password2"
                        name="new_password2"
                        formControlName="new_password2"
                      />
                      <div
                        class="cust_err_msg"
                        *ngIf="
                          !form.controls['new_password2'].valid &&
                          isFormSubmitted
                        "
                      >
                        <span
                          class="text-danger"
                          *ngIf="
                            form.controls['new_password2'].errors['required'] ||
                            form.controls['new_password2'].errors['whitespace']
                          "
                          >This field is required.</span
                        >
                        <span
                          class="text-danger"
                          *ngIf="
                            form.controls['new_password2'].errors['mismatch'] &&
                            !form.controls['new_password2'].errors['whitespace']
                          "
                          >Password and confirm password should be same.</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button
                        type="button"
                        class="btn btn-primary px-4"
                        (click)="confirm(form.valid)"
                      >
                        Confirm
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
