// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.app-header .navbar-toggler {
  display: none !important;
}

@media (min-width: 992px) {
  .app-header .navbar-toggler {
    display: none !important;
  }
}

.error {
  color: red;
  text-align: left;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
}
.headerBar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
button.navbar-toggler {
  border-radius: 0;
  padding: 5px 5px 7px;
  border: 0;
}
span.navbar-toggler-icon {
  height: 3px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}
span.navbar-toggler-icon:after,
span.navbar-toggler-icon:before {
  content: "";
  height: 3px;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: auto;
  bottom: auto;
}
span.navbar-toggler-icon:after {
  top: -6px;
}
span.navbar-toggler-icon:before {
  bottom: -7px;
}

.SensorDIV span.ui-calendar,
.SensorDIV .ui-dropdown,
.SensorDIV input.ui-inputtext {
  width: 100%;
}

.ui-state-disabled .ui-dropdown-label {
  color: #000;
  font-weight: 600;
}

// dialog styles

.dangerDialog .ui-dialog-titlebar {
  background-color: #ff0000 !important;
  color: #ffffff !important;
  display: flex;
  justify-content: center;
  font-size: larger;
}
.dangerDialog .pi-times:before {
  content: "" !important;
}

.treetableDate .ui-calendar .ui-datepicker {
  margin-top: 50%;
}

body
  .dateToFrom
  .ui-calendar.ui-calendar-w-btn
  .ui-datepicker-trigger.ui-button {
  width: 3em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 2px solid #007ad9;
}

@media (max-width: 767px) {
  .dataTables_wrapper table {
    overflow: auto;
    width: 100%;
    display: block;
  }
  .highcharts-container {
    overflow: visible !important;
  }
  .app-body {
    margin-top: 0;
  }
  main.main {
    margin-top: 15px !important;
  }
  .card {
    margin-bottom: 35px;
  }
  .main .container-fluid {
    padding: 0 15px;
  }
  body .card-body {
    padding: 1rem;
  }
  body .row.row-graph-head > div {
    padding: 0;
  }
  body .ui-widget {
    font-size: 12px;
  }
  body .card .card-header {
    height: auto;
  }
  body .card .card-header strong,
  body .card .card-header b {
    font-weight: bolder;
    line-height: 33px;
  }
  .table .SensorDIV td,
  .table .SensorDIV th {
    padding: 0.7rem 0.3rem;
  }
  .ml-1.ActionButton {
    margin: 0 !important;
  }
  .ActionButton button {
    margin: 0 0.5rem 0.5rem 0 !important;
  }
  .SensorDIV button.btn {
    font-size: 0;
  }
  .SensorDIV button.btn.btn-sm.btn-danger:first-letter {
    font-size: 0.8rem;
  }
  .MinMaxDiv .col-1 {
    flex: 0 0 15%;
    align-items: center;
    line-height: 38px;
    max-width: 15%;
  }
  .MinMaxDiv .col-3 {
    flex: 0 0 30%;
    align-items: center;
    max-width: 30%;
  }
  body p-dialog .ui-dialog-wrapper .ui-widget {
    width: 80% !important;
  }
  body .ui-dialog .ui-dialog-footer button {
    margin: 0.3rem;
    float: none;
    display: inline-block;
    text-align: center;
  }
  body .ui-dialog .ui-dialog-footer p-footer {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
  }
  .ActinButtonDiv .mb-2,
  .ActinButtonDiv .mr-5 {
    margin: 0.5rem !important;
  }
  body .mr-auto.profile-view {
    margin: 0 auto !important;
  }
}
