<div class="animated fadeIn" *ngIf="displayPage === false">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header group-title-221">
          <strong>Site Overview</strong>
          <p class="pull-right"></p>
        </div>
        <div class="card-body">
          <div class="NoData">
            <p class="text-center">No sites..!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn" *ngIf="displayPage === true">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header group-title-300">
          <strong *ngIf="selectedSite">{{ selectedSite }}</strong>
          <div class="pull-right">
            <form [formGroup]="form">
              <p-dropdown
                [options]="site"
                placeholder="Select site"
                optionLabel="site_name"
                formControlName="site_name"
                [(ngModel)]="selectedSitename"
                (onChange)="getCode($event)"
                id="site_name"
              ></p-dropdown>
            </form>
          </div>
        </div>
        <div class="card-header group-title-221">
          <strong>Site Overview</strong>
          <p class="pull-right"></p>
        </div>

        <div class="card-body">
          <div class="NoData" *ngIf="this.data.length == 0">
            <p class="text-center">No Data Available..!</p>
          </div>
          <div class="col-md-12 ml-4" *ngIf="this.data.length > 0">
            <!-- (item.low_battery_percentage != null &&
                  item.current_battery != null &&
                  item.current_battery <= item.low_battery_percentage) || -->
            <div class="row">
              <div
                *ngFor="let item of data"
                class="card mb-3 mr-3"
                [ngClass]="{
                  'text-white bg-warning':
                    item.offline_status === true ||
                    (item.offline_status === false &&
                      item.low_battery_percentage != null &&
                      item.current_battery != null &&
                      item.current_battery <= item.low_battery_percentage &&
                      item.current_temperature >= item.storage_range_min &&
                      item.current_temperature <= item.storage_range_max),
                  'text-white bg-success':
                    item.current_temperature >= item.storage_range_min &&
                    item.current_temperature <= item.storage_range_max &&
                    item.offline_status === false,
                  'text-white bg-secondary':
                    item.current_temperature === 0 &&
                    item.offline_status === null,
                  'text-white bg-primary':
                    (item.current_temperature <= item.storage_range_min ||
                      item.current_battery < item.low_battery_percentage) &&
                    item.offline_status === false,
                  'text-white bg-danger':
                    item.low_battery_percentage != null &&
                    item.current_battery != null &&
                    item.current_temperature > item.storage_range_max &&
                    item.offline_status === false
                }"
                style="width: 14rem; cursor: pointer; color: #fff;"
                [routerLink]="['/site/installation_detail']"
                [queryParams]="{
                  site_id: item.site,
                  installation_id: item.id
                }"
              >
                <div class="card-header">
                  {{ item.installation_name }}
                </div>
                <div class="card-body StoreOverview">
                  <h4
                    class="card-title"
                    *ngIf="
                      item.current_temperature === 0 &&
                      item.offline_status === null
                    "
                  >
                    --
                  </h4>
                  <h4
                    class="card-title"
                    *ngIf="
                      !item.offline_status && item.current_temperature !== 0
                    "
                  >
                    {{ item.current_temperature }}°C
                  </h4>
                  <h5 class="card-title" *ngIf="item.offline_status">
                    Offline
                  </h5>
                  <div class="TemperatureDiv">
                    <span>{{ item.storage_range_min }}</span>
                    <span>{{ item.storage_range_max }}</span>
                  </div>
                  <p class="card-text">
                    {{ item.installation_content }}
                    <img
                      *ngIf="
                        item.low_battery_percentage != null &&
                        item.current_battery != null &&
                        item.current_battery <= item.low_battery_percentage &&
                        !item.offline_status
                      "
                      class="battery-icon"
                      src="../../../../assets/img/brand/low_battery.svg"
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="container bootstrap snippet"> -->
          <div class="row mr-5 ml-4" *ngIf="this.data.length > 0">
            <div class="">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item" *ngIf="previous != null">
                    <a
                      class="page-link"
                      style="color: blue; cursor: pointer;"
                      (click)="previousPage(previous, id)"
                      >Previous</a
                    >
                  </li>
                  <!-- <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li> -->
                  <li class="page-item" *ngIf="next != null">
                    <a
                      class="page-link"
                      style="color: blue; cursor: pointer;"
                      (click)="nextPage(next, id)"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="row ml-4">
            <div>
              <button
                *ngIf="permission == 'Admin'"
                type="button"
                pButton
                icon="pi pi-plus"
                (click)="onclick()"
                label="Add New Installation"
              ></button>
            </div>
            <div class="ml-auto mr-5">
              <button
                *ngIf="permission == 'Admin'"
                type="button"
                pButton
                icon="pi pi-undo"
                (click)="restore()"
                label="Restore Deleted Installation"
              ></button>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
