<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header group-title-221">
          <!-- <i class="fa fa-info-circle icon-size" style="cursor: pointer;"></i> -->
          <strong>{{ PageTitle }}</strong>
          <!-- <p class=""> -->
          <button
            type="button"
            class="btn btn-sm btn-primary pull-right"
            (click)="onBack()"
          >
            <span class="fa fa-mail-reply"></span>
            Back
          </button>
          <!-- </p> -->
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-group">
              <diV class="row">
                <div class="col-md-2">
                  <label for="store">Store:</label>
                </div>
                <div class="col-md-4">
                  <p-dropdown
                    [options]="storeList"
                    placeholder="Select store"
                    formControlName="store"
                    id="store"
                    [disabled]="true"
                  ></p-dropdown>
                  <div
                    class="error"
                    *ngIf="!form.controls['store'].valid && isFormSubmitted"
                  >
                    <span *ngIf="form.controls['store'].errors['required']"
                      >This field is required.</span
                    >
                  </div>
                </div>
              </diV>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  <label for="fridge_name">Fridge Name:</label>
                </div>
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    name="fridge_name"
                    formControlName="fridge_name"
                  />
                  <div
                    class="error"
                    *ngIf="
                      !form.controls['fridge_name'].valid && isFormSubmitted
                    "
                  >
                    <span
                      *ngIf="
                        form.controls['fridge_name'].errors['required'] ||
                        form.get('fridge_name').errors['whitespace']
                      "
                      >This field is required.</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  <label for="fridge_content">Fridge Content:</label>
                </div>
                <div class="col-md-4">
                  <input
                    type="text"
                    class="form-control"
                    name="fridge_content"
                    formControlName="fridge_content"
                  />
                  <div
                    class="error"
                    *ngIf="
                      !form.controls['fridge_content'].valid && isFormSubmitted
                    "
                  >
                    <span
                      *ngIf="
                        form.controls['fridge_content'].errors['required'] ||
                        form.get('fridge_content').errors['whitespace']
                      "
                      >This field is required.</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  <label for="fridge_description">Fridge Discription:</label>
                </div>
                <div class="col-md-6">
                  <textarea
                    class="form-control"
                    name="fridge_description"
                    cols="20"
                    rows="5"
                    formControlName="fridge_description"
                  ></textarea>
                  <div
                    class="error"
                    *ngIf="
                      !form.controls['fridge_description'].valid &&
                      isFormSubmitted
                    "
                  >
                    <span
                      *ngIf="
                        form.controls['fridge_description'].errors[
                          'required'
                        ] || form.get('fridge_description').errors['whitespace']
                      "
                      >This field is required.</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  <label for="fridge_content">Storage Range:</label>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-1">
                      <label for="storage_range_min">Min</label>
                    </div>
                    <div class="col-3">
                      <input
                        name="storage_range_min"
                        type="number"
                        class="form-control"
                        formControlName="storage_range_min"
                      />
                      <div
                        class="error"
                        *ngIf="
                          !form.controls['storage_range_min'].valid &&
                          isFormSubmitted
                        "
                      >
                        <span
                          *ngIf="
                            form.controls['storage_range_min'].errors[
                              'required'
                            ]
                          "
                          >This field is required.</span
                        >
                      </div>
                    </div>
                    <div class="col-1">
                      <label for="storage_range_max">Max</label>
                    </div>
                    <div class="col-3">
                      <input
                        name="storage_range_max"
                        type="number"
                        class="form-control"
                        formControlName="storage_range_max"
                      />
                      <div
                        class="error"
                        *ngIf="
                          !form.controls['storage_range_max'].valid &&
                          isFormSubmitted
                        "
                      >
                        <span
                          *ngIf="
                            form.controls['storage_range_max'].errors[
                              'required'
                            ]
                          "
                          >This field is required.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <h5 class="card-title" style="font-size: 30px;">Sensor</h5>
          <form [formGroup]="myForm" class="b-0">
            <div formArrayName="sensor_data">
              <table
                class="table"
                style="
                  border-top: none;
                  border-bottom: none;
                  border-top-color: white;
                "
              >
                <thead>
                  <tr>
                    <td style="font-size: 15px; font-weight: bold;">
                      Serial Number
                    </td>
                    <td style="font-size: 15px; font-weight: bold;">
                      Install At
                    </td>
                    <td style="font-size: 15px; font-weight: bold;">
                      Remove At
                    </td>
                    <td style="font-size: 15px; font-weight: bold;"></td>
                  </tr>
                </thead>
                <tbody
                  *ngFor="
                    let a of myForm.get('sensor_data')['controls'];
                    let i = index
                  "
                >
                  <tr [formGroupName]="i" class="SensorDIV">
                    <td>
                      <input
                        type="text"
                        pInputText
                        formControlName="temperature_sensor"
                        name="temperature_sensor"
                        (blur)="checkSensor($event.target.value, i)"
                      />
                      <div
                        *ngIf="
                          submitted && f[i].controls.temperature_sensor.errors
                        "
                        style="color: red;"
                      >
                        <div
                          *ngIf="
                            f[i].controls.temperature_sensor.errors.required
                          "
                        >
                          This Field is required.
                        </div>
                      </div>
                      <div
                        class="error pull-left"
                        *ngIf="!f[i].controls.temperature_sensor.valid"
                      >
                        <span
                          *ngIf="
                            f[i].controls.temperature_sensor.errors['pattern']
                          "
                          >Only Hex Char is allowed (i.e 0-9 and A-F).</span
                        >
                      </div>
                      <div
                        class="error pull-left"
                        *ngIf="!f[i].controls.temperature_sensor.valid"
                      >
                        <span
                          *ngIf="
                            f[i].controls.temperature_sensor.errors[
                              'maxlength'
                            ] ||
                            f[i].controls.temperature_sensor.errors['minlength']
                          "
                          >It should be 16 character long.</span
                        >
                      </div>
                    </td>
                    <td>
                      <p-calendar
                        formControlName="installed_at"
                        [showTime]="true"
                        (onSelect)="onSelectDate($event, i)"
                      ></p-calendar>
                      <!-- [minDate]="minimumDate" -->
                      <div class="row">
                        <div
                          *ngIf="submitted && f[i].controls.installed_at.errors"
                          style="color: red; margin-left: 12px;"
                        >
                          <div
                            *ngIf="f[i].controls.installed_at.errors.required"
                          >
                            This Field is required.
                          </div>
                        </div>
                        <div
                          *ngIf="
                            !f[i].controls.installed_at.errors &&
                            f[i].hasError('invalidDate')
                          "
                          style="color: red; position: absolute;"
                        >
                          <div *ngIf="f[i].errors['invalidDate']">
                            Select valid date and time. install_at date and time
                            is not greater or equal to removed_at date.
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          *ngIf="f[i].controls.installed_at.errors"
                          style="color: red; position: absolute;"
                        >
                          <div
                            *ngIf="f[i].controls.installed_at.errors['isExist']"
                          >
                            Please Select valid date and time range for
                            install_at and remove_at, it should not be
                            pre-selected range.
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p-calendar
                        formControlName="removed_at"
                        [showTime]="true"
                        (onSelect)="onSelectDate($event, i)"
                      ></p-calendar>
                      <!-- [minDate]="minimumDate" -->
                      <!-- <div
                        *ngIf="f[i].hasError('invalidDate')"
                        style="color: red;"
                      >
                        <div *ngIf="f[i].errors['invalidDate']">
                          Select valid date and time. selected date and time is
                          not less or equal to install_at date.
                        </div>
                      </div> -->
                      <!-- <div
                        *ngIf="f[i].controls.removed_at.errors"
                        style="color: red;"
                      >
                        <div *ngIf="f[i].controls.removed_at.errors['isExist']">
                          Please Select valid date and time.
                        </div>
                      </div> -->
                    </td>
                    <td>
                      <button
                        pbutton
                        type="button"
                        class="btn btn-sm btn-danger"
                        (click)="remove_sensor(i)"
                      >
                        X Remove Sensor
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="float-left"> -->
            <button
              type="button"
              class="btn btn-success mb-4"
              (click)="addItem()"
            >
              + Add New Sensor
            </button>
            <!-- </div> -->
          </form>
          <div class="row ml-1">
            <button
              type="button"
              class="btn btn-primary mr-5"
              (click)="onBack()"
            >
              Cancle
            </button>
            <button
              type="button"
              class="btn btn-danger mr-5"
              (click)="deleteFridge()"
              *ngIf="this.editMode"
            >
              Delete this fridge
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onSubmit(form.valid, myForm.valid)"
            >
              Save
              <i class="icon-paperplane ml-2"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Errors..!"
  [(visible)]="display"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  styleClass="dangerDialog"
>
  <div
    class="row alert alert-danger"
    style="margin-right: 10px; margin-left: 10px;"
  >
    <ul>
      <li *ngFor="let item of errorList">{{ item }}</li>
    </ul>
  </div>
  <!-- <div class="alert alert-danger">
    <ul>
      <li>THIS IS ERROR.</li>
      <li>THIS IS ERROR.</li>
      <li>THIS IS ERROR.</li>
    </ul>
  </div> -->
  <p-footer>
    <div class="text-center">
      <button
        type="button"
        pButton
        (click)="closeDialog()"
        label="Accept"
        class="ui-button-primary"
        style="width: 100%;"
      ></button>
    </div>
  </p-footer>
</p-dialog>
